@charset "utf-8";
/* CSS Document */

.clear{
	clear:both;
	padding:50px;
	size:50px;
}
input[type=text] {
  width: 130px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
  width: 100%;
}
p{text-align:center; font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";}
.fl{width: 40%; height: 40%;}
